.t-shirt{
    border: 1px solid lightblue;
    border-radius: 10px;
    padding-bottom: 20px;
}

.t-shirt img{
    height: 250px;
}

.tshirt-btn{
    border: 0px;
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}